/* Reset für das gesamte Dokument */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile für die angepasste Navbar-Klasse */
.navbar.navbar-custom {
    display: flex;
    justify-content: space-between; /* Platzieren der Elemente an Enden der Navbar */
    align-items: center; /* vertikale Zentrierung */
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.navbar.navbar-custom .welcome-text {
    color: #fff;
    margin-right: 40px; /* Abstand nach rechts */
    font-size: 24px;
}

.navbar.navbar-custom .navbar-nav {
    display: flex;
    align-items: center;
}

.navbar.navbar-custom .navbar-nav .nav-link {
    text-decoration: none; /* entfernt Unterstreichungen */
    color: #fff;
    margin-right: 5px;
}

.navbar.navbar-custom .navbar-toggler-icon {
    background-color: #fff;
}

.navbar.navbar-custom .navbar-brand {
    padding: 0;
    margin-right: 30px;
}

.navbar.navbar-custom .navbar-nav .nav-item {
    margin-right: 10px;
    list-style: none; /* kein Anzeigen von Listenpunkten */
}

.navbar.navbar-custom .navbar-brand img {
    width: 150px; /* Anpassung Breite */
    height: auto; /* Beibehalten Seitenverhältnis, zum Verhindern von Verzerrungen */
    margin-right: 30px;
}

/* Schriftfarbe des aktiven Elements in der globalen Navigation wird auf grün geändert*/
.navbar.navbar-custom .navbar-nav .nav-item.active a{
    color: #1e7415;
}

.row{
    margin-bottom: 20px; /* Abstand nach jeder Row */
}

nav ul{
    list-style: none; /* Entfernen der Listenpunkte bei der lokalen Navigation*/
}

#localNav.text-right{
    text-align: right;
    margin-bottom: 30px;
}

#localNav.text-left{
    text-align: left;
    margin-bottom: 30px;
}

/* Globale Stildefinitionen */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10;
    box-sizing: border-box;
}

.container {
    min-height: 10vh;
    flex-direction: row;
}

textarea {
    width: 100%;
    padding: 10px;
    /*margin-bottom: 10px;*/
    resize: none; /* Verhindert das Vergrößern/Verkleinern des Textfelds durch den Benutzer */
    border: 1px solid  #505861;
    /*resize: vertical;  Nur vertikales Resize erlauben */
    height: auto; /* Automatische Höhe basierend auf dem Inhalt */
    overflow-y: hidden; /* Verhindert das Anzeigen eines vertikalen Scrollbalkens */
}

#areaTextFrei {
    border: 1px solid  #505861; /* Dünner Rahmen, solid für durchgezogener Rahmen */
    /*margin-bottom: 10px;*/
}

button {
    display: block;
    /*margin-top: 10px;*/
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#displayText {
    display: none;
}

header {
    background-color: #333;
    color: #fff;
    /*padding: 1px 2px;  Anpassung des oberen und unteren Padding */
}

main {
    padding: 20px;
}

/* Content-Bereich */
.content {
    max-width: 800px;
    margin: 0 auto;
}



h2 {
    font-size: 28px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}

h3 {
    font-size: 26px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}

p {
    line-height: 1.6;
    margin-bottom: 5px;
}

b{
    margin-top: 30px;
}

/* Titel-Stile */
.title h1 {
    font-size: 24px;
    margin: 10px;
}

/* Seitenleisten-Stildefinitionen */
aside {
    background-color: #f4f4f4;
    padding: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    justify-content: space-between; /* Text links, Links in der Mitte */
    align-items: center; /* Vertikal zentrieren */
    padding: 20px 0; /* Abstand oben und unten im Footer */
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex; /* Flexbox verwenden, um die Elemente nebeneinander zu positionieren */
    position: relative;
    margin-top: auto; /*????? bringt das was?*/
}

/* Stildefinitionen für die Texte */
.text {
    margin-bottom: 20px;
}

/* Stile für den Container der rechtlichen Informationen */
.legal-info {
    margin-bottom: 20px; /* Abstand zwischen den rechtlichen Links und den anderen Footer-Elementen */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.legal-info ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Links in der Mitte */
}

.legal-info li {
    display: inline;
    margin-right: 20px;
}

.legal-info a {
    color: #fff;
    text-decoration: none;
}

/* Media Query für Bildschirmbreiten bis 767px */
@media (max-width: 767px) {    
    body {
        font-size: 16px; /* Beispielgröße für kleinere Bildschirme */
    }

    .navbar.navbar-custom .navbar-brand img {
        display: none; 
    }

    .navbar.navbar-custom .welcome-text {
        display: none;
    }
}

/* Media Query für Bildschirmbreiten von 768px bis 1023px */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* Media Query für Bildschirmbreiten ab 1024px */
@media (min-width: 1024px) {
    /* Hier könnten zusätzliche Anpassungen für größere Bildschirme gemacht werden */
}
